@import "tailwindcss";

:root {
  --color-bg: #121317;
  --color-bg-alt: #101114;
  --color-surface: #2d2f39;
  --color-surface-alt: #1c1e24;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-text: rgba(255, 255, 255, 0.92);
  --color-text-dim: rgba(255, 255, 255, 0.8);
  --color-primary: #3d3cce;
  --color-primary-hover: #5158e2;
  --color-accent: #8e7bff;
  --color-success: #22c55e;
  --color-danger-soft: rgba(255, 87, 87, 0.1);
}

@theme inline {
  --color-bg: var(--color-bg);
  --color-bg-alt: var(--color-bg-alt);
  --color-surface: var(--color-surface);
  --color-surface-alt: var(--color-surface-alt);
  --color-border: var(--color-border);
  --color-text: var(--color-text);
  --color-text-dim: var(--color-text-dim);
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-accent: var(--color-accent);
  --color-success: var(--color-success);
  --color-danger-soft: var(--color-danger-soft);
  --font-sans: var(--font-vazirmatn);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
}
